<div class="container">
  <ngx-spinner></ngx-spinner>
  <div class="row">
    <div class="col-md-3">
      <mat-card class="heading2" routerLink='/main'> <span style="float: left;"><mat-icon>arrow_backwards</mat-icon></span>{{cat}} </mat-card>
    </div>
  </div>
  <br>

  <mat-form-field style="width:90%" >
    <input matInput type="text"   placeholder="Search Here" [(ngModel)]="value">
    <button mat-button *ngIf="value" matSuffix mat-icon-button aria-label="Clear" (click)="value=''; clearData()">
      <mat-icon>close</mat-icon>
    </button>
    <span matPrefix><mat-icon>search</mat-icon></span>
  </mat-form-field>&nbsp; 
  <span><button mat-raised-button [disabled]="value == ''" color="primary" (click)="filterData(value)">Search</button></span>


  <div *ngIf="books">
    <div *ngIf="books.results.length > 0">
      <figure *ngFor="let cat of books.results" class="operationDiv">
        <img  (click)="veiwDetails(cat)" class="rectangle" src="{{cat.formats['image/jpeg']}}" alt="Photo of a Shiba Inu">
        <figcaption class="two_chars" *ngIf="cat.title" >{{cat.title | uppercase}}</figcaption>
        <figcaption class="two_chars1" *ngIf="cat.authors.length > 0">{{cat.authors[0].name ? cat.authors[0].name : ''}}</figcaption>
      </figure>
    </div>

    <div class="errMsg" *ngIf="!books.results.length > 0">
      No Data Found!
    </div>
  </div>

</div>